<div class="span6 offset3">
    <h3>Вхід</h3>
    <form action="" class="form-horizontal">
        <div class="control-group">
            <label class="control-label" for="adm-login">Логін</label>
            <div class="controls">
                <input type="text" id="adm-login">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="adm-password">Пароль</label>
            <div class="controls">
                <input type="text" id="adm-password">
            </div>
        </div>
        <button class="btn">Увійти</button>
    </form>
</div>