<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Moderator View</title>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <style type="text/css">
    textarea{
        display: block;
    }
    ul{
        list-style-type: none;
    }
    </style>
</head>
<body>
    
<div id="content"></div>

<script type='text/javascript'
        src='../../../../steal/steal.js'>
</script>
<script type='text/javascript'
        src='../../../controller/moderator/controller.js'>
</script>

</body>
</html>