<h3><pre><em>Номер правильної відповіді:   </em ><span class="numberCorrectAnswer"><%= numberCorrectAnswer %> </span></pre>
<p><pre><em>Опис питання:                 </em ><span class="questionDescription"><%= description %></span>  <a href='javascript://' class='destroy'>X</a></h3></p></pre>