<div class="row">
	<div class="span3">
		<form>
		    <input type="text" id="input" name="field_search" placeholder="Пошук..." class="input-small category-input"/>

		    <input type="button" id="search" value="Пошук" onclick="search" class="btn"/>  <br>
		    <div id = "Categories"></div>
		        <div id='menu'>
		         <ol></ol>
		        </div>
		</form>
	</div>
	<div class="span8 offset1">
		<h4>Результати</h4>
		<ul id="result1"></ul>
	</div>