<div class="row">
	<div class="span6 header-welcome">
	    <h3>Ласкаво просимо в Юнак Квіз</h3>
	    <p>Юнак Квіз — це система тестування для пластунів. Пройдіть
	                            тестування і дізнайтесь багато цікавого. </p>
	</div>
</row>