<a href="#" class="login__link" id="login-button">Увійти</a>&nbsp;/
<a href="#" class="login__link" id="login-register">Зареєструватись</a>
<div id="login">
	<form action="#" id="formLogin" name="form">
	    <ul class="dropdown-menu nav">
		    <li><input type="text" id="log_in" placeholder="Ім'я" name="log_in"></li>
		    <li><input type="password" id="pwd" placeholder="Пароль"></li>
		    <input type="submit" class="btn login__submit" type="button" id="log_in_btn" value="Увійти">
		    <label for="login__remember-me-checkbox" class="login__remember-me-checkbox" id="login__remember-me-checkbox">
		        <input type="checkbox" id="login__remember-me-checkbox" checked>Запамятати мене
		    </label>
	    </ul>
	</form>
</div>