<% $.each(this, function(i, val) { %>
	<li class="navbar-header__nav-item">
		<a class="item navbar-header__nav-item-links" href="<%= val.href %>" id="<%= val.id%>"><%= val.name %></a>
	</li>
<% }) %>
