<div class="span6 offset3">
    <h3>Реєстрація</h3>
    <div class="register_form">
        <form action="#" class="form-horizontal" id='formRegister'>
            <div class="control-group">
                <label for="email" class="control-label">E-mail:</label>
                <div class="controls">
                    <input type="text" id="email">
                </div>
            </div>
            <div class="control-group">    
                <label for="log" class="control-label">Логін:</label>
                <div class="controls">
                    <input type="text" id="log">
                </div>
            </div>
            <div class="control-group">    
                <label for="pass" class="control-label">Пароль:</label>
                <div class="controls">
                    <input type="password" id="pass">
                </div>
            </div>
            <div class="control-group">    
                <label for="confirm_pwd" class="control-label">Повторіть Пароль:</label>
                <div class="controls">
                    <input type="password" id="confirm_pwd">
                </div>
            </div>
                
            <button type="submit" id="register_btn" class="btn">Створити акаунт</button>
        </form>
    </div>
</div>