<a href="#" class="login__link">Привіт, <%= this.user %></a>
<ul class="dropdown-menu-old nav">
        <li><a href="#" class="dropdown-menu__item">Мої результати</a></li>
        <li><a href="#" class="dropdown-menu__item" id="login-exit">Вихід</a></li>
</ul>