
<form class="well" style="background-color: #ffffff;" id="newMessage">

<h2 class="pagination-centered">Надсилання листа адміністратору</h2>

<div class="row pagination-centered">
  <div class="span5 pagination-right">
	<label for='name'>Email:</label>
  </div>
  <div class="span4">
	<input type='text' name='email' id='email' class = "span4" placeholder="Введіть свою електронну адресу"/>
</div>
</div>

<div class="row pagination-centered">
  <div class="span5 pagination-right">
	<label for='name'>Тема листа:</label>
  </div>
  <div class="span4">
	<input type='text' name='subject' id='subject' class = "span4" placeholder="Введіть тему даного листа"/>
</div>
</div>

<div class="row pagination-centered">
  <div class="span5 pagination-right">
	<label for='name'>Текст повідомлення:</label>
  </div>
  <div class="span4">
	<textarea name='message' id='message' class = "span4" placeholder="Введіть текст повідомлення" rows="5"></textarea>
</div>
</div>

<p class="pagination-centered"><input type="submit" value="Відправити" class='btngreen' id="send"></p>

</form>
