.wrapper {
  width: 960px; }

.span12 {
  float: left;
  margin-left: 20px;
  display: inline; }

.span11 {
  float: left;
  margin-left: 20px;
  display: inline; }

.span10 {
  float: left;
  margin-left: 20px;
  display: inline; }

.span9 {
  float: left;
  margin-left: 20px;
  display: inline; }

.span8 {
  float: left;
  margin-left: 20px;
  display: inline; }

.span7 {
  float: left;
  margin-left: 20px;
  display: inline; }

.span6 {
  float: left;
  margin-left: 20px;
  display: inline; }

.span5 {
  float: left;
  margin-left: 20px;
  display: inline; }

.span4 {
  float: left;
  margin-left: 20px;
  display: inline; }

.span3 {
  float: left;
  margin-left: 20px;
  display: inline; }

.span2 {
  float: left;
  margin-left: 20px;
  display: inline; }

.span1 {
  float: left;
  margin-left: 20px;
  display: inline; }
