//
//Forms
//----------------------

form {
  margin: 0 0 $baseLineHeight;
}

fieldset {
  padding: 0;
  margin: 0;
  border: 0;
}

input,
button,
select,
textarea {
  font-family: $baseFontFamily;
}

select,
textarea,
input[type="text"],
input[type="password"],
input[type="number"],
input[type="email"],
input[type="search"] {
  display: inline-block;
  height: $baseLineHeight;
  padding: 4px 6px;
  margin-bottom: $baseLineHeight / 2;
  font-size: $baseFontSize;
  line-height: $baseLineHeight;
  @include border-radius($inputBorderRadius);
  vertical-align: middle;
}
input[type="text"].category-input {
  margin-bottom: 0;
}

input,
textarea {
  width: 206px;
}


textarea {
  height: auto;
}

select,
textarea,
input[type="text"],
input[type="password"],
input[type="number"],
input[type="email"],
input[type="search"] {
  background-color: $inputBackground;
  border: 1px solid $inputBorder;
  @include box-shadow(inset 0 1px 1px rgba(0,0,0,.075));
  @include transition(border linear .2s, box-shadow linear .2s);

  &:focus {
    border-color: rgba(82,228,136,.8);
    outline: none;
    @include box-shadow(inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,228,136,.6));
  }
}

input[type="radio"],
input[type="checkbox"] {
  margin: 4px 0 0;
  line-height: normal;
}


input[type="file"],
input[type="image"],
input[type="submit"],
input[type="reset"],
input[type="button"],
input[type="radio"],
input[type="checkbox"] {
  width: auto;
}

select,
input[type="file"] {
  height: $inputHeight; /* In IE7, the height of the select element cannot be changed by height, only font-size */
  line-height: $inputHeight;
}


select {
  width: 220px;
  border: 1px solid $inputBorder;
  background-color: $inputBackground;
}


select[multiple],
select[size] {
  height: auto;
}


select:focus,
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
  @include box-shadow(none);
  @include tab-focus();
}

// CHECKBOXES & RADIOS
// -------------------


.radio,
.checkbox {
  min-height: $baseLineHeight;
  padding-left: 20px;
}
.radio input[type="radio"],
.checkbox input[type="checkbox"] {
  float: left;
  margin-left: -20px;
}

//Vertical forms
//----------------
.form-horizontal {

  .control-group {
    margin-bottom: $baseLineHeight;
    @include clearfix();
  }

  .control-label {
    float: left;
    width: $horizontalComponentOffset - 20;
    padding-top: 5px;
    //text-align: right;

  }

  .controls {
    margin-left: $horizontalComponentOffset;
    p{
      padding-top: 5px;
    }
    span{
      padding: 0 10px;
      vertical-align: middle;
    }
  }

  .help-block {
    margin-bottom: 0;
  }

  input,
  select,
  textarea,
  .uneditable-input,
  .input-prepend,
  .input-append {
    + .help-block {
    margin-top: $baseLineHeight / 2;
  }
  }
  .form-actions {
    padding-left: $horizontalComponentOffset;
  }
 }

//Horizontal forms
//-----------------
.form-search,
.form-inline,
.form-horizontal {
  input,
  textarea,
  select,
  .help-inline,
  .uneditable-input,
  .input-prepend,
  .input-append {
    display: inline-block;
    //@include ie7-inline-block();
    margin-bottom: 0;
    vertical-align: middle;
  }
  // Re-hide hidden elements due to specifity
  .hide {
    display: none;
  }
}

//Input sizes
//------------
.input-mini       { width: 60px; }
.input-small      { width: 90px; }
.input-medium     { width: 150px; }

input[class*="span"],
select[class*="span"],
textarea[class*="span"] {
  float: none;
  margin-left: 0;
}

